@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductListViewModel

@{
    ViewData["Title"] = "Our Products";
}

<div class="product-filters">
    <select class="filter-select" asp-for="SortBy" asp-items="Model.SortOptions">
        <option value="">Sort by</option>
    </select>

    <div class="category-filters">
        @foreach (var category in Model.Categories)
        {
            <a asp-action="Index"
                asp-route-category="@category.Id"
                class="filter-btn @(category.Id == Model.SelectedCategory ? "active" : "")">
                @category.Name
            </a>
        }
    </div>│
</div>

@await Html.PartialAsync("_ProductGrid", Model.Products)