@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<style>
    /* Reuse the same styles from Login.cshtml */
    body {
        font-family: Poppins-Regular, sans-serif;
        background: #f2f2f2;
    }

    .limiter {
        width: 100%;
        margin: 0 auto;
    }

    .container-login100 {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-image: url('../uploads/values2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .wrap-login100 {
        width: 500px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px 55px;
        border: 2px solid rgb(44, 62, 80);
    }

    .login100-form-title {
        font-family: Poppins-Medium;
        font-size: 30px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        display: block;
    }

    .txt2 {
        color: rgb(44, 62, 80);
        text-decoration: underline;
    }

    .hov1:hover {
        color: #4B0082;
    }
</style>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <div class="login100-form">
                <span class="login100-form-title p-b-33">
                    Check Your Email
                </span>

                <div class="text-center">
                    <p class="txt1">
                        We’ve sent a password reset link to your email.
                    </p>
                    <p class="txt1 m-t-20">
                        <a asp-action="Login" class="txt2 hov1">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>