@{
    ViewData["Title"] = "Password Reset Confirmation";
}

<style>
    /* Reuse the same styles from Login.cshtml */
    /* (Copy the same <style> block as above) */
</style>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <div class="login100-form">
                <span class="login100-form-title p-b-33">
                    Password Reset
                </span>

                <div class="text-center">
                    <p class="txt1">
                        Your password has been reset successfully.
                    </p>
                    <p class="txt1 m-t-20">
                        <a asp-action="Login" class="txt2 hov1">Sign In Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>