@{
    ViewData["Title"] = "Privacy Policy";
}

<style>

    .card-disclaimer {
        background-color: #f8f9fa;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin-top: 85px;
        margin-bottom: 85px;
    }


</style>

<div class="container">
    <div class="card-disclaimer">
        <h3 style="color:#2C3E50; margin-bottom: 20px;">Website Disclaimer</h3>
        <p>Please note that this website is created solely for educational purposes as part of a Full Stack Development project and is not a real bakery or business. The content, including images and descriptions, are sourced from free image libraries and are used for demonstration and learning purposes only.</p>
        <p>The purpose of this website is to showcase web development skills and simulate the functionality and design of a bakery website. Any products, promotions, or services mentioned on this site are purely fictional and do not represent actual offerings.</p>
        <p>Thank you for visiting and exploring our Online Bakery website!</p>
    </div>
</div>
